<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.SalGuMarket.www.repository.ProductMapper">

	<select id="getProductById" resultType="com.SalGuMarket.www.domain.ProductVO">
		SELECT * FROM product
		WHERE pno = #{pno}
	</select>
	
	<insert id="saveProduct">
		INSERT INTO product(title, category, price, content, sell, seller_email)
		VALUES(#{title}, #{category}, #{price}, #{content}, #{sell}, #{sellerEmail})
	</insert>
	
	<select id="getRecentPno" resultType="Long">
		SELECT MAX(pno) FROM product
	</select>

	<update id="modifyWalletAddress">
		UPDATE member SET wallet_address = #{staticBackdropInput}
		WHERE email = #{loginEmail}
	</update>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(pno) FROM product
		<if test="category != null and type == null">
			WHERE category = #{category}
		</if>
		<if test="category != null and type != null">
			WHERE category = #{category}
			<include refid="search"></include>
		</if>
	</select>
	
	<!-- 검색 동적 SQL 쿼리문 -->
	<sql id="search">
		<if test="type != null">
			<choose>
				<when test="type == 't'.toString()">
					AND title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="type == 'w'.toString()">
					AND seller_nick_name LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</sql>
	
</mapper>