<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/board.css">

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>자유게시판</h2>
                    </div>
                    <div class="featured__controls">

                        <div></div>
						<table class="table table-hover">
							<thead>
								<tr>
							      <th scope="col">글번호</th>
							      <th scope="col">제목</th>
							      <th scope="col">작성자</th>
							      <th scope="col">작성일</th>
							      <th scope="col">조회수</th>
							    </tr>
							</thead>
							<tbody>
							<th:block th:each="bvo:${list}">
								<tr>
									<th scope="row"><a th:href="@{/board/boardDetail(bno=${bvo.bno})}">[[${bvo.bno}]]</a></th>
								    <td><a th:href="@{/board/boardDetail(bno=${bvo.bno})}">[[${bvo.title}]] </a><span class="badge">[[${bvo.cmtCount}]]</span></td>
								    <td>[[${bvo.nickName}]]</td>
									<td>[[${bvo.regAt}]]</td>
								    <td>[[${bvo.readCount}]]</td>
								</tr>
							</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- Featured Section End -->
        
    <!-- Pagination Section Begin-->
    <section class="pagenation">
       <div class="container">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
           <a href="/board/boardRegister"><button class="btn" type="button">작성</button></a>
          </div>
          <nav aria-label="Page navigation example">
           <ul class="pagination justify-content-center">
           <!-- 이전페이지 -->
             <li class="page-item " th:if="${ph.prev}">
               <a class="page-link" th:href="@{/board/boardList(pageNo=${ph.startPage-1},qty=${ph.pgvo.qty})}"  aria-label="Previous">&lt;&lt;</a>
             </li>
             
             <li class="page-item ${ph.pgvo.pageNo == i ? 'active':''}" th:each="i:${#numbers.sequence(ph.startPage,ph.endPage)}" aria-current="page">
             <a class="page-link"  th:href="@{/board/boardList(pageNo=${i},qty=${ph.pgvo.qty})}">[[${i}]]</a>
             </li>
             
             <!-- 다음페이지 -->
             <li class="page-item" th:if="${ph.next}">
               <a class="page-link"  th:href="@{/board/boardList(pageNo=${ph.endPage+1 },qty=${ph.pgvo.qty})}"  aria-label="Next">&gt;&gt;</a>
             </li>
           </ul>
         </nav>
       </div>
    </section>
	<br><br><br>
	<!-- Pagination Section End-->
	
		
</th:block>
</th:block>