<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/board.css">

    <!-- Featured Section Begin -->
    <section class="table">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured__controls">
						<table class="table">
							<thead>
								<tr>
							      <th scope="col">[[${bdto.bvo.bno}]]</th>
							      <th scope="col">제목: [[${bdto.bvo.title}]]</th>
							      <!-- <th scope="col">작성자: [[${bdto.bvo.nickName}]]</th> -->
							      <th scope="col" style="text-align: right;">닉네임: [[${bdto.bvo.nickName}]] / 작성일: [[${bdto.bvo.regAt}]]</th>
							    </tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="20" colspan="3">[[${bdto.bvo.content}]]</td>
								</tr> 
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- Featured Section End -->
    
    <!-- Comment Section Begin -->   
    <section class="comment-area">
		<div class="container">
		
    <div th:if="${loginmvo.nickName!=null}">
		<div class="input-group mb-3">
		  <input type="text" id="cmtText" class="form-control" placeholder="댓글 내용을 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
		  <input type="hidden" id="cmtNickName" th:value="${loginmvo.nickName}">
		  <input type="hidden" id="cmtEmail" th:value="${loginmvo.email}">
		  <input type="hidden" id="cmtIsProfile" th:value="${loginmvo.isProfile}">
		  <input th:if="${fvo!=null}" type="hidden" id="cmtProfileImage" th:value="${fvo.fileName}">
		  <input th:if="${fvo==null}" type="hidden" id="cmtProfileImage" th:value="1">
		  <button class="btn" id="cmtPostBtn" type="button">등록</button>
		</div>
    </div>
		
			<ul class="list-group list-group-numbered" id="cmtListArea">
			  <li class="list-group-item d-flex justify-content-between align-items-start">
			    <div class="ms-2 me-auto">
			      <div id="cmtWriter" class="fw-bold"><span>닉네임</span><span>작성일</span></div>
			      댓글내용 
			    </div>
			    <button class="cmtModBtn cmtBtn" type="button">수정</button>
			    <button class="cmtDelBtn cmtBtn" type="button">삭제</button>
			  </li>
			</ul>
    		<button type="button" class="moreBtn" data-page="1" id="moreBtn">▽ 댓글 더보기</button>
		</div>
    </section>
    <br><br><br>
    <!-- Comment Section End -->
        
    <!-- Pagination Section Begin-->
    <section class="button-area">
	    <div class="container">
	    <form th:if="${hasHeart == 0}" action="/member/heart" method="post">
	    	<input type="hidden" name="email" id="heartEmail" th:value="${loginmvo.email}">
	    	<input type="hidden" name="bno" id="heartBno" th:value="${bdto.bvo.bno}">
	    	<button sec:authorize="isAuthenticated()" class="heart btn" type="submit">♡</button>
	    </form>
	    <form th:if="${hasHeart == 1}" action="/member/delHeart" method="post">
	    	<input type="hidden" name="email" id="heartEmail" th:value="${loginmvo.email}">
	    	<input type="hidden" name="bno" id="heartBno" th:value="${bdto.bvo.bno}">
	    	<button sec:authorize="isAuthenticated()" class="heart btn" type="submit">♥</button>
	    </form>
		    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
			  <a href="/board/boardList"><button class="btn listBtn" type="button">목록</button></a>
			  <div th:if="${loginmvo.email==bdto.bvo.email}">
				  <a th:href="@{/board/boardModify(bno=${bdto.bvo.bno})}"><button class="btn modBtn" type="button">수정</button></a>
				  <a th:href="@{/board/boardRemove(bno=${bdto.bvo.bno})}"><button class="btn delBtn" type="button">삭제</button></a>
			  </div>
			</div>
	    </div>
    </section>
	<br><br><br>
	<!-- Pagination Section End-->
	<div class="modal" id="myModal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">댓글 수정</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" style="background-color:white; color: #FF7471; border: none; border-radius: 3px;">X</button>
	      </div>
	      <div class="modal-body">
	      <div class="input">
	      	<input id="cmtTextMod" style="width: 100%;">
	      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="cmtModBtn" class="btn btn-primary">저장</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script th:inline="javascript">
		const bnoVal = [[${bdto.bvo.bno}]];
		const nick = [[${loginmvo.nickName}]];
	</script>
	<script th:src="@{/js/board/boardComment.js}"></script>
	<script>spreadCommentList(bnoVal);</script>
	
</th:block>   
</th:block>