<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/login.css">

	<div class="container" style="max-width: 600px; padding: 50px; margin-bottom: 70px;">
<h2 style="font-family: 'Do Hyeon', sans-serif; text-align: center;">회원가입</h2><br>
<form action="/member/register" method="post" id="myForm">
<div class="mb-3" style="margin-top: 15px;">
  <label for="exampleFormControlInput1" class="form-label t">이름</label>
  <input type="text" name="name" id="name" class="form-control f" placeholder="이름을 입력해주세요.">
</div>
<div class="mb-3" style="margin-top: 15px;">
  <label for="exampleFormControlInput1" class="form-label t">이메일</label>
  <button class="btn btn-light" type="button" id="email_btn" style="float: right; font-size: 13px;">이메일 중복 확인</button>
  <input type="email" name="email" id="email" class="form-control f" placeholder="이메일을 입력해주세요.">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-labe t">닉네임</label>
    <button class="btn btn-light" type="button" id="nickName_btn" style="float: right; font-size: 13px;">닉네임 중복 확인</button>
  <input type="text" name="nickName" id="nickName" class="form-control f pwd" placeholder="닉네임을 입력해주세요.">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-labe t" >비밀번호</label> 
  <input type="password" name="pwd" class="form-control f pwd" id="pwd1" placeholder="특수문자/문자/숫자 포함 5~10자">
</div>
<div class="mb-3 text-danger" id="passzone1"></div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-labe t" >비밀번호 확인</label>
  <input type="password" class="form-control f" id="pwd2" placeholder="다시 한 번 입력해주세요.">
</div>
<div class="mb-3 text-danger" id="passzone2"></div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-labe t">아이디 분실 시 인증 이메일</label>
  <input type="text" name="regEmail" id="regEmail" class="form-control f" placeholder="선택사항 (입력 안 할 시 아이디 찾기 불가)">
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" class="site-btn bb form-control" id="re_btn" style="margin-top: 10px; background-color: #FFAC6D;">회원가입</button>
</div>
</form>
<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 <a id="kakao-login-btn" > <img class="k_login kakao_img"src="/img/kakao_register.png"width="152" alt="카카오 로그인 버튼" /></a>
</div> -->
</div>
	
</th:block>
</th:block>


<script type="text/javascript" src="/js/member_register.js"></script>
