@charset "UTF-8";


/*---------------------
  Pagination
-----------------------*/

.pagenation .page-item .page-link{
   font-family: "Do Hyeon", sans-serif;
   font-weight: 300;
   color: #FFAC6D;

/*    border: none; */
}

.pagenation .page-item .page-link:hover{
   color: #FF7471;
}



/*---------------------
   Member
-----------------------*/
.member_list h2:after{
   left: 0;
   bottom: -15px;
   right: 0;
   height: 4px;
   width: 110px;
   background: #FFAC6D;
   content: "";
   margin: 0 auto;
   display: block;
}