<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
	
	<link rel="stylesheet" href="/css/index.css" type="text/css" >
	<link rel="stylesheet" href="/css/pagenation.css" type="text/css" >
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>카테고리</span>
                        </div>
                        <ul>
                            <li><a href="/">전체(최신순)</a></li>
                            <li><a href="/?category=beauty">뷰티/미용</a></li>
                            <li><a href="/?category=clothes">의류/잡화</a></li>
                            <li><a href="/?category=elec">전자/생활가전</a></li>
                            <li><a href="/?category=ticket">티켓/교환권</a></li>
                            <li><a href="/?category=animal">반려동물</a></li>
                            <li><a href="/?category=free">나눔</a></li>
                            <li><a href="/chat/chatList">채팅방</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                    	<!-- 검색창 -->
                        <div class="hero__search__form">
                            <form th:action="@{/}" method="get">
	                            <select name="type" class="form-select" aria-label="Default select example">
								  <option th:value="t" th:selected="${ph.pgvo.type == null || ph.pgvo.type == 't'}">제목</option>
								  <option th:value="w" th:selected="${ph.pgvo.type == 'w'}">작성자</option>
								</select>
                                <input type="text" name="keyword" th:value="${ph.pgvo.keyword}" placeholder="What do you need?">
                                <input type="hidden" name="pageNo" th:value="1">
                                <input type="hidden" name="qty" th:value="${ph.pgvo.qty}">
                                <button type="submit" class="site-btn">검색</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+82 1111 222</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel" id="CategoriesList">
                	<!-- 가장 최근에 판매 등록된 제품 10개를 보여주는 Slider -->
                	<div class="col-lg-3" th:each="file : ${categoriesSliderImageList}">
					    <div class="categories__item set-bg" th:data-setbg=@{/upload/{saveDir}/{uuid}_main_{fileName}(saveDir=${file.saveDir},uuid=${file.uuid},fileName=${file.fileName})}>
					        <h5><a th:href="@{/product/productDetail(pno=${file.pno})}">Detail Page</a></h5>
					    </div>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>판매 상품</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="file : ${categoryImageList}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" th:data-setbg=@{/upload/{saveDir}/{uuid}_main_{fileName}(saveDir=${file.saveDir},uuid=${file.uuid},fileName=${file.fileName})}>
                            <ul class="featured__item__pic__hover">
                                <li><a th:href="@{/product/heart(pno=${file.pno})}"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            	<a th:href="@{/product/productDetail(pno=${file.pno})}">[[${file.productTitle}]]</a>
                            </h6>
                            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">[[${file.price}]] ETH</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    
    <!-- Featured Section PageNation Begin -->
    <section class="pagenation">
	    <div class="container">
		    <nav aria-label="Page navigation example">
			    <ul class="pagination justify-content-center">
				    <!-- 이전페이지 -->
				    <li class="page-item " th:if="${ph.prev}">
				    	<a class="page-link" th:href="@{/(pageNo=${ph.startPage-1},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Previous">&lt;&lt;</a>
				    </li>
				            
				    <li class="page-item ${ph.pgvo.pageNo == i ? 'active':''}" th:each="i:${#numbers.sequence(ph.startPage,ph.endPage)}" aria-current="page">
				    	<a class="page-link" th:href="@{/(pageNo=${i},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}">[[${i}]]</a>
				    </li>
				             
				    <!-- 다음페이지 -->
				    <li class="page-item" th:if="${ph.next}">
				    	<a class="page-link" th:href="@{/(pageNo=${ph.endPage+1},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Next">&gt;&gt;</a>
				    </li>
			    </ul>
		    </nav>
	    </div>
    </section>
    <!-- Featured Section PageNation End -->
	
	<script type="text/javascript" th:inline="javascript">
		const saveProduct = [[${saveProduct}]];
		if(saveProduct > 0){
			alert("판매 등록 성공!");
		}
	</script>
	
	<script th:inline="javascript">
		const reg = [[${reg}]];
		if(reg==="1"){
			alert("회원가입 성공 로그인 해주세요.");
		}
	</script>
	
	<!-- <script type="text/javascript" src="/js/index.js"></script> -->
</th:block>
</th:block>